@import "../../../Sass/_querys";
@import "../../../Sass/colors";
.Pagination{
 
    display: flex;
    justify-content: center;
    >button{
        color: white;
        background-color:  $color-pagination-buttons;
        border:  $color-pagination-buttons-border;
        margin: 2%;
        padding: 3%;
        
        @include desktop{

            padding: 0.5%;
        }
        
    }
    >button:hover{

        background-color: black;
        border: rgb(0, 0, 0) 2px solid;
    }
}

/* 
display: flex;
justify-content: center;
>button{
    color: white;
    background-color: green;
    border: forestgreen 2px solid;
    margin: 2%;
    padding: 0.5%;
    
}
>button:hover{

    background-color: black;
    border: rgb(0, 0, 0) 2px solid;
}
} */